<div class="warning-box">
    <h2>🔑 Password Reset Request</h2>
    <p>Dear {{userName}},</p>
    <p>We received a request to reset your password for your {{appName}} account.</p>
</div>

<table class="details-table">
    <tr>
        <th>Account Email</th>
        <td>{{userEmail}}</td>
    </tr>
    <tr>
        <th>Request Time</th>
        <td>{{requestTime}}</td>
    </tr>
    <tr>
        <th>IP Address</th>
        <td>{{ipAddress}}</td>
    </tr>
    <tr>
        <th>Expires In</th>
        <td>{{expiresIn}} minutes</td>
    </tr>
</table>

<div class="info-box">
    <h3>Reset Your Password</h3>
    <p>Click the button below to reset your password. This link will expire in {{expiresIn}} minutes for security reasons.</p>
</div>

<p style="text-align: center;">
    <a href="{{resetUrl}}" class="button">Reset My Password</a>
</p>

<div class="warning-box">
    <h3>⚠️ Security Notice</h3>
    <p><strong>If you did not request this password reset:</strong></p>
    <ul>
        <li>Please ignore this email - your account is still secure</li>
        <li>Consider changing your password as a precaution</li>
        <li>Contact our support team if you're concerned</li>
    </ul>
</div>

<div class="info-box">
    <h3>Having Trouble?</h3>
    <p>If the button above doesn't work, copy and paste this link into your browser:</p>
    <p><a href="{{resetUrl}}">{{resetUrl}}</a></p>
</div>

<p>For security reasons, this password reset link can only be used once and will expire automatically.</p>

<p>Best regards,<br>
{{appName}} Security Team</p>
